.env
.DS_Store
/data_raw/CMIP6/*.nc
__pycache__
log.txt
/data_raw/RFF/pop_income/*.feather
/data_raw/RFF/emissions/*.csv
/data_processed/gdp_pop/*.csv
/data_processed/emissions/*.csv
/data_processed/interest_rate/*
/tmp/*
/output/nopulse/*
/output/pulse_1_2020/*